.tab-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.3rem;
	width: 100%;
}

.tab__top-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}
