

.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        color: white;
    }
}