@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Rubik", sans-serif;
}

html,
body,
#app {
	height: 100%;
}

#app,
.light {
	display: flex;
	flex-direction: column;
	flex: 1;
}

#app {
	background-image: url("/wave.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 100vw;
}

.background-color {
	background-color: hsl(var(--nextui-primary));
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

button[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

h1 {
	font-size: 1.5rem;
	font-weight: bold;
}

h2 {
	font-size: 1.3rem;
	font-weight: bold;
}

h3 {
	font-size: 1.1rem;
	font-weight: bold;
}

.fade-in {
	animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
